.accordion {
    max-width: 400px;
    margin: 100px auto 0;
    border-radius: 3px;
    background: #f1f1f1;
}

.accordion-visible {
    background: #7177ca;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border: 1px solid #474d9b;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.accordion-visible span {
    padding: 15px 0;
    font-size: 20px;
}
.accordion-visible img {
    width: 20px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
    transform: rotate(0deg)
}

.accordion-visible h2 {
    font-size: 20px;
}

.accordion-toggle {
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.animated {
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
    margin: 0;
    padding: 22px 15px;
    pointer-events: none;
    line-height: 1.3;
}
